.env
ir_index/config.json
ir_index/faiss.index
ir_index/metadata.pkl
ir_index/system_config.json
__pycache__/
*.pyc
venv/
debug_crops/*
!debug_crops/.gitkeep
debug_crops_real/*
!debug_crops_real/.gitkeep
data/persons/*
!data/persons/.gitkeep